<section class="sect1">
  <div class="container-fluid">
    <h1 class="text-center mt-4 mb-4">Users</h1>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="table-responsive">
          <table class="table table-bordered border-secondary">
            <thead>
              <tr>
                <th scope="col">Profile</th>
                <th scope="col">Company Name</th>
                <th scope="col">Proprietor</th>
                <th scope="col">Email</th>
                <th scope="col">Sector</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of userlist">
              <tr>
                <td><img src="{{'https://localhost:44372/' + user.profilePic}}" alt="profilepic"
                    class="rounded-circle ms-3 me-2" style="width:75px;height: 75px;"></td>
                <td (click)="viewUser(user.userId)" id="username"><i class="pi pi-arrow-right"
                    style="font-weight: bold;"></i>
                  {{user.companyName}}</td>
                <td>{{user.proprieator}}</td>
                <td>{{user.email}}</td>
                <td>{{user.companySector}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>