<section class="sec1">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=''>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/category'>Tender Category</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink='/users'>Users</a></li>
              <li><a class="dropdown-item" routerLink='/tenders'>Tenders</a></li>
              <li><a class="dropdown-item" href="#">Quotations</a></li>
              <li><a class="dropdown-item" href="#">Tenders Taken</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-primary" type="button" routerLink='/signin'>Login</button>
          <div *ngIf="auth">
            <span *ngFor="let user of userlist" class="inline me-3">
              <mat-icon style="font-size: 26px;">account_circle</mat-icon>{{user.Proprieator}}</span>
            <button type="button" class="btn btn-danger" (click)="logout">Logout</button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</section>