.navbar {
    background-color: #176B87;
}

.navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: skyblue;
}

form,
.navbar-brand {
    color: whitesmoke;
}