.example-full-width,.form-control{
    width: 50%;
    margin-left: 25%;
}

form{
    margin: 4em auto 0 auto;
    padding: 10px;
    justify-content: center;
}

label{
    margin-left: 25%;
    font:18px bold;
}