<section class="sect1">
    <div class="conatiner mt-2 mb-5">
        <span class="d-flex">
            <h1 class="text-center mb-2">Public Tenders</h1>
            <div class="me-2 text-end" *ngIf="roleid==1">
                <button type="button mt-4" class="btn btn-secondary" routerLink='/publishtenders'>
                    Publish Tender</button>
            </div>
        </span>
        <hr>
        <div class="row">
            <div class="col-md-9 justify-content-center">
                <table class="table table-bordered text-center mt-4 mb-3">
                    <thead>
                        <tr>
                            <th scope="col">Tender Name</th>
                            <th scope="col">Opening Date</th>
                            <th scope="col">Closing Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Project Value</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody
                        *ngFor="let tender of tenderslist | filter:selectedCategory  | search:searchText  | sortdate: [sortParam , sortDirection]">
                        <tr *ngIf="!tender.isTaken">
                            <td (click)="viewTender(tender.tenderId)" id="tendername">{{tender.tenderName}}</td>
                            <td>{{tender.tenderOpeningDate}}</td>
                            <td>{{tender.tenderClosingDate}}</td>
                            <td>{{tender.categoryName}}</td>
                            <td>{{tender.projectValue | currency : "INR" : "symbol" : "3.0"}}</td>
                            <div *ngIf="roleid == 1">
                                <td><button class="btn btn-warning">Edit</button></td>
                            </div>
                            <div *ngIf="roleid == 2">
                                <td><button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="GetDetails(tender)">Quote</button>
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 text-center">

                <hr>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Search by Location / Name
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Location/Name</mat-label>
                                    <mat-icon matSuffix>search</mat-icon>
                                    <input type="text" matInput placeholder="Enter Search Text"
                                        [(ngModel)]="searchText">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Sort by Tender Closing Date
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Sort by Tender Closing Date</mat-label>
                                    <select class="form-control" matNativeControl (change)="onOptionsSelected($event)"
                                        id="sort">
                                        <option value="">Sort by :</option>
                                        <option value="n-f">Nearest Date</option>
                                        <option value="f-n">Farest Date</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Filter by Category
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Filter by Category</mat-label>
                                    <mat-select id="filter" [(ngModel)]="selectedCategory">
                                        <mat-option value="Manufacture">Manufacture</mat-option>
                                        <mat-option value="Construction">Construction</mat-option>
                                        <mat-option value="Healthcare">Healthcare</mat-option>
                                        <mat-option value="Transportation">Transportation</mat-option>
                                        <mat-option value="Education">Education</mat-option>
                                        <mat-option value="Environmental">Environmental</mat-option>
                                        <mat-option value="Communication">Communication</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade modal-xl" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Quote Tender</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="QuoteForm" novalidate>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Company Name</mat-label>
                                    <input type="text" matInput formControlName="CompanyName" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Proprieator</mat-label>
                                    <input type="text" matInput formControlName="Proprieator" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Company Established Date</mat-label>
                                    <input type="text" matInput formControlName="establishedDate" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2 d-flex">
                                <mat-form-field appearance="outline" class="example-full-width me-2">
                                    <mat-label>Application Fee</mat-label>
                                    <input type="text" matInput [(ngModel)]="ApplicationFee"
                                        formControlName="ApplicationFee" readonly>
                                </mat-form-field>
                                <p-toast position="top-right"></p-toast>
                                <button class="mt-2" mat-raised-button color="accent" [hidden]="paymentButtonHidden"
                                    (click)="makePayment()">Pay</button>
                                <div *ngIf="paymentSuccess" class="mt-2"><mat-icon
                                        style="color: green;">done_outline</mat-icon>
                                </div>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>ProjectStartDate</mat-label>
                                    <input type="text" matInput formControlName="ProjectStartDate" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Tender Name</mat-label>
                                    <input type="text" matInput formControlName="TenderName" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Project Value</mat-label>
                                    <input type="text" matInput formControlName="ProjectValue" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Location</mat-label>
                                    <input type="text" matInput formControlName="Location" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Authority</mat-label>
                                    <input type="text" matInput formControlName="Authority" readonly>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>ProjectEndDate</mat-label>
                                    <input type="text" matInput formControlName="ProjectEndDate" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <mat-form-field appearance="outline" class="example-full-width" id="qtamt">
                            <mat-label>QuoteAmount</mat-label>
                            <input type="text" matInput formControlName="QuoteAmount"
                                [ngClass]="{'is-invalid':QuoteAmount.errors && (QuoteAmount.touched || QuoteAmount.dirty)}" />
                            <mat-error *ngIf="QuoteAmount.errors?.required">Required Field</mat-error>
                            <mat-error *ngIf="QuoteAmount.errors?.pattern">Enter a valid Amount</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="text-center">
                        <p-toast position="top-right"></p-toast>
                        <button class="me-2" mat-icon mat-raised-button color="warn"
                            data-bs-dismiss="modal">Close</button>
                        <button mat-icon mat-raised-button color="primary" (click)="onQuote()">Quote</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>