.row {
    width: 100%;
}

#tendername {
    cursor: pointer;
    font-weight: bold;
    color: navy;
}

table {
    margin: 0 auto 0 auto;
    width: 90%;
}

.example-full-width {
    width: 100%;
}

#qtamt {
    width: 50%;
    margin-left: 25%;
}