<section class="sect1">
    <div class="conatiner mt-2 mb-5">
        <h1 class="text-center mb-2">Public Tenders</h1>
        <hr>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <table class="table table-bordered text-center mt-4 mb-3">
                    <thead>
                        <tr>
                            <th scope="col">Tender Name</th>
                            <th scope="col">Opening Date</th>
                            <th scope="col">Closing Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Project Value</th>

                        </tr>
                    </thead>
                    <tbody
                        *ngFor="let tender of tenderslist | filter:selectedCategory  | search:searchText  | sortdate: [sortParam , sortDirection]">
                        <tr>
                            <td (click)="viewTender(tender.id)" id="tendername">{{tender.tenderName}}</td>
                            <td>{{tender.tenderOpeningDate}}</td>
                            <td>{{tender.tenderClosingDate}}</td>
                            <td>{{tender.categoryName}}</td>
                            <td>{{tender.projectValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 text-center">
                <button type="button mt-4" class="btn btn-secondary" routerLink='/publishtenders'>
                    Publish Tender</button>
                <hr>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Search by Location / Name
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Location/Name</mat-label>
                                    <mat-icon matSuffix>search</mat-icon>
                                    <input type="text" matInput placeholder="Enter Search Text"
                                        [(ngModel)]="searchText">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Sort by Tender Closing Date
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Sort by Tender Closing Date</mat-label>
                                    <select class="form-control" matNativeControl (change)="onOptionsSelected($event)"
                                        id="sort">
                                        <option value="">Sort by :</option>
                                        <option value="n-f">Nearest Date</option>
                                        <option value="f-n">Farest Date</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Filter by Category
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Filter by Category</mat-label>
                                    <mat-select id="filter" [(ngModel)]="selectedCategory">
                                        <mat-option value="Manufacture">Manufacture</mat-option>
                                        <mat-option value="Construction">Construction</mat-option>
                                        <mat-option value="Healthcare">Healthcare</mat-option>
                                        <mat-option value="Transportation">Transportation</mat-option>
                                        <mat-option value="Education">Education</mat-option>
                                        <mat-option value="Environmental">Environmental</mat-option>
                                        <mat-option value="Communication">Communication</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>