<section class="sect1">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mt-5">
                <h1>Welcome to eProcurement System</h1>
                <p>The eProcurement System enables the Tenderers to submit the bids online through this portal.</p>
            </div>
            <div class="col-lg-3 mt-4 text-center">
                <h2>Search Tenders</h2>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Search by Location
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body d-flex">
                            <input type="text" id="locationsearch" class="form-control">
                            <button mat-icon-button color="primary"><mat-icon>search</mat-icon></button>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Search by Date
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body d-flex">
                            <input type="text" id="Datesearch" class="form-control">
                            <button mat-icon-button color="primary"><mat-icon>search</mat-icon></button>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Search by Name
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body d-flex">
                            <input type="text" id="Namesearch" class="form-control">
                            <button mat-icon-button color="primary"><mat-icon>search</mat-icon></button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
